.pytest_cache/
artifacts
__pycache__
*.cpython-*.pyc
*.env
.coverage

dist/*
.mypy_cache/*
.python-version
file:cachedb
monitoring.db
runinfo
.*.swp
parsl_executors.log
fractal.log
site
reference
venv
.DS_Store
token

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

.venv
venv
