fractal.json
apply.json
.pytest_cache/
__pycache__
*.cpython-*.pyc
*.env

# parsl-related
cmd_parsl.slurm.*.sh
runinfo
monitoring.db
.*.swp

output*
tmp_data
LOG_*
slurm-*.out
Local_backup
mprofile_*.dat

.nfs*
nohup
nohup.out
file:cachedb
