#!/bin/bash
{% block arguments -%}
#SBATCH --job-name={{ job_name }}
#SBATCH --nodes={{ nodes|default(1) }}
#SBATCH --core-spec={{ cores|default(1) }}
#SBATCH --mem={{mem|default(512)}}
#SBATCH --array 0-{{array}}
input={{channels}}

{% endblock -%}

{% block header -%}
#########################
#
# Job: {{ job_name }}
#
#########################
{% endblock %}

SAMPLE_LIST=(${input[@]})
SAMPLE=${SAMPLE_LIST[${SLURM_ARRAY_TASK_ID}]}

{% block body -%}

{% block cmd -%}
##### Run Command
# run script with arguments
{{ command }}
{% endblock %}

{% endblock %}
