#!/bin/bash
{% block arguments -%}
#SBATCH --job-name={{ job_name }}
#SBATCH --nodes={{ nodes|default(1) }}
#SBATCH --core-spec={{ cores|default(1) }}
#SBATCH --mem={{mem|default(512)}}
#SBATCH --array 0-{{array}}
input={{channels}}
in_sites={{sites_cmd}}
W=({{wells}})
{% endblock -%}

{% block header -%}
#########################
#
# Job: {{ job_name }}
#
#########################
{% endblock %}

{% block body -%}

{% block cmd -%}
##### Run Command
# run script with arguments

RO=$(echo ${W[$SLURM_ARRAY_TASK_ID]} | cut -d' ' -f 1)
CO=$(echo ${W[$SLURM_ARRAY_TASK_ID]} | cut -d' ' -f 2 | cut -d'[' -f 1)
{{command}}

{% endblock %}

{% endblock %}
