name: ci

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-24.04
    timeout-minutes: 30

    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13", "3.14"]

    env:
      FRACTAL_SERVER_PYTHON: "3.12"
      FRACTAL_SERVER_BRANCH: "main"

    steps:

      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run docker compose
        run: docker compose -f tests/fractal-server/docker-compose.yml up -d

      - name: Setup uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.7"
          enable-cache: true

      - name: Install dependencies
        run: uv sync --frozen --group dev

      - name: Test with pytest
        env:
          COVERAGE_FILE: coverage-data-${{ matrix.python-version }}
        run: uv run --frozen coverage run -m pytest

      - name: Run tests second time
        run: uv run python -m pytest

      - name: Run tests third time
        run: uv run python -m pytest

      - name: Log server container if pytest failed
        if: failure()
        run: docker compose -f tests/fractal-server/docker-compose.yml logs

      - name: Upload coverage data
        uses: actions/upload-artifact@v4
        with:
          name: coverage-data-${{ matrix.python-version }}
          path: coverage-data-${{ matrix.python-version }}*

  coverage:
    name: Coverage
    runs-on: ubuntu-24.04
    needs: tests
    steps:

      - uses: actions/checkout@v5

      - name: Download data
        uses: actions/download-artifact@v4
        with:
          pattern: coverage-data-*
          merge-multiple: true

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.7"
          enable-cache: true

      - name: Install dev dependencies
        run: uv sync --frozen --only-group dev

      - name: Combine coverage artifacts into a single `.coverage` file
        run: uv run --frozen coverage combine coverage-data-*

      - name: Add coverage comment to Pull Requests
        id: coverage_comment
        uses: py-cov-action/python-coverage-comment-action@v3
        with:
          GITHUB_TOKEN: ${{ github.token }}
          MINIMUM_GREEN: 90
          MINIMUM_ORANGE: 60
          ANNOTATE_MISSING_LINES: true
          ANNOTATION_TYPE: notice
