name: docs

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:

  docs:
    name: "Deploy docs"
    runs-on: ubuntu-24.04
    # if: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' }}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.8.22"
          enable-cache: true

      - name: Compile docs requirements
        run: uv pip compile --group docs --output-file docs-requirements.txt

      - name: Deploy docs
        uses: mhausenblas/mkdocs-deploy-gh-pages@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          REQUIREMENTS: docs-requirements.txt

  docs-build:
    name: "Test docs build"
    runs-on: ubuntu-24.04
    if: ${{ github.event_name != 'push' || github.ref != 'refs/heads/main' }}

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: '3.12'
          cache: pip

      - name: Install current fractal
        run: python -m pip install .

      - name: Install dependencies
        run: python -m pip install --group docs

      - name: MKDocs build
        run: mkdocs build --config-file mkdocs.yml --strict
