name: pip_install

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  schedule:
    - cron: "0 7 * * 1"

jobs:

  tests:
    name: "Python ${{ matrix.python-version }}"
    runs-on: ubuntu-24.04
    timeout-minutes: 8

    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]

    steps:

      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - run: pip install -e .

      - run: fractal -h
