name: Build package

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: "Set up Python 3.10"
        uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: "Install poetry 1.5.1"
        run: curl -sSL https://install.python-poetry.org | python3 - --version 1.5.1

      - name: Build package
        run: poetry build
