# NOTE: in order for this action to trigger other GitHub workflows (typically
# the CI ones), the "Create Pull Request" step must use a Personal Access Token
# (PAT) rather than the standard GITHUB_TOKEN. This PAT must be generated
# elsewhere by one of the developers, and set as a secret for the current
# repositories.


name: poetry-update

on:
  schedule:
    - cron: "0 9 * * 2" # Tuesday Mondays at 9AM
  workflow_dispatch:

jobs:
  poetry_update:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v3
      - name: Install poetry
        run: pipx install poetry==2.0.0
      - uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - uses: fredrikaverpil/poetry-update@v1.2

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v6
        with:
          token: ${{ secrets.PAT }}
          delete-branch: true
          branch: poetry-update
          add-paths: poetry.lock
          commit-message: "Update dependencies in `poetry.lock`"
          title: "[auto] Update dependencies in `poetry.lock`"
          draft: true
          body: |

            ### Updated dependencies:

            ```bash
            ${{ env.POETRY_UPDATED }}
            ```

            ### Outdated dependencies _before_ PR:

            ```bash
            ${{ env.POETRY_OUTDATED_BEFORE }}
            ```

            ### Outdated dependencies _after_ PR:

            ```bash
            ${{ env.POETRY_OUTDATED_AFTER }}
            ```

            _Note: there may be dependencies in the table above which were not updated as part of this PR.
            The reason is they require manual updating due to the way they are pinned._
